<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Canvas Drawing</title>
<style>
    #canvasContainer {
        position: relative;
    }
    canvas {
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid black;
    }
</style>
</head>
<body>
    <div class="audio-player">
    <audio id="audio" controls>
        <source src="/{{pieceName}}/{{defaultmp3}}.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <textarea id="metadatadump"></textarea>
    </div>

<button id="mode-button">Display</button>
<button id="go-button">Go</button>
<label>Bar:</label>
<input id="whichbar" type="number">
<select name="whichmp3" id="whichmp3">
    {{#each mp3s}}
    <option value="/{{../pieceName}}/{{this}}.mp3">{{this}}</option>
    {{/each}}
</select>
<button id="dump-button">Dump</button>
<button id="store-button">Store</button>

<div id="canvasContainer">
    <canvas id="backgroundCanvas" width="900" height="1200" ></canvas> 
    <canvas id="drawingCanvas" width="900" height="1200" ></canvas>
</div>


</textarea>
<script>
{{{metadata}}}
</script>

   <script src="/play.js"></script>
</body>
</html>

