<h1>Search Transcripts</h1>

<form action="/search" method="get">
    <label for="query">Search for:</label>
    <input type="text" id="query" name="query" value="{{query}}">
    <label for="language">Language:</label>
    <select id="language" name="language">
        {{#each languages}}
            <option value="{{this}}" {{#if (eq this ../language)}}selected{{/if}}>{{this}}</option>
        {{/each}}
    </select>
    <button type="submit">Search</button>
</form>

{{#if results}}
    <h2>Results for "{{query}}" in language "{{language}}"</h2>
    {{#if results.length}}
        <ul>
            {{#each results}}
                <li>
                    <strong>Podcast:</strong> {{podcast}}<br>
                    <strong>File:</strong> {{file}}<br>
                    <strong>Timestamp:</strong> {{start}}<br>
                    <strong>Text:</strong> {{{text}}}
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No results found.</p>
    {{/if}}
{{/if}}
